<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        
        <!--<property name="hibernate.connection.datasource">jdbc/Diagnostico</property>-->
        <!-- Driver do BD de conexão -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <!--Dialect do banco de dados--> 
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>        
        <!--Endereço de conexão--> 
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/TELESSAUDE</property>        
        <!--Usuário--> 
        <property name="hibernate.connection.username">postgres</property>        
        <!--Senha--> 
        <property name="hibernate.connection.password">senha</property>
        <!-- Exibe comandos SQL na saída padrão. -->  
        <property name="show_sql">false</property>  
        <property name="use_sql_comments">false</property>  
        <property name="hibernate.format_sql">false</property>  
        <property name="current_session_context_class">thread</property>    
        
        <property name="hibernate.hbm2ddl.auto">none</property>
        <!--<property name="hibernate.hbm2ddl.auto">update</property>-->
        <property name="connection_pool_size">1</property>
        
        <!-- Classes que são mapeadas no hibernate  -->
        <!-- Utilizadas pelo diagnostico -->
        <mapping class="br.ufmg.hc.telessaude.diagnostico.dominio.entity.Categoria" />
        <mapping class="br.ufmg.hc.telessaude.diagnostico.dominio.entity.Cidade" />
        <mapping class="br.ufmg.hc.telessaude.diagnostico.dominio.entity.Cliente" />
        <mapping class="br.ufmg.hc.telessaude.diagnostico.dominio.entity.Configuracao" />
        <mapping class="br.ufmg.hc.telessaude.diagnostico.dominio.entity.Contato" />
        <mapping class="br.ufmg.hc.telessaude.diagnostico.dominio.entity.ConteudoExame" />
        <mapping class="br.ufmg.hc.telessaude.diagnostico.dominio.entity.CreditoPlantao" />
        <mapping class="br.ufmg.hc.telessaude.diagnostico.dominio.entity.DiscussaoCaso" />
        <mapping class="br.ufmg.hc.telessaude.diagnostico.dominio.entity.Endereco" />
        <mapping class="br.ufmg.hc.telessaude.diagnostico.dominio.entity.Especialidade" />
        <mapping class="br.ufmg.hc.telessaude.diagnostico.dominio.entity.Especialista" />
        <mapping class="br.ufmg.hc.telessaude.diagnostico.dominio.entity.Estado" />
        <mapping class="br.ufmg.hc.telessaude.diagnostico.dominio.entity.Exame" />
        <mapping class="br.ufmg.hc.telessaude.diagnostico.dominio.entity.ExameCorrompido" />
        <mapping class="br.ufmg.hc.telessaude.diagnostico.dominio.entity.FraseEspecialistaEspecialidade" />
        <mapping class="br.ufmg.hc.telessaude.diagnostico.dominio.entity.HistoricoClinico" />
        <mapping class="br.ufmg.hc.telessaude.diagnostico.dominio.entity.HorarioPlantao" />
        <mapping class="br.ufmg.hc.telessaude.diagnostico.dominio.entity.Laudo" />
        <mapping class="br.ufmg.hc.telessaude.diagnostico.dominio.entity.ModeloConteudoExame" />
        <mapping class="br.ufmg.hc.telessaude.diagnostico.dominio.entity.ModeloHistoricoClinico" />
        <mapping class="br.ufmg.hc.telessaude.diagnostico.dominio.entity.ModeloLaudo" />
        <mapping class="br.ufmg.hc.telessaude.diagnostico.dominio.entity.OrgaoEmissor" />
        <mapping class="br.ufmg.hc.telessaude.diagnostico.dominio.entity.Paciente" />
        <mapping class="br.ufmg.hc.telessaude.diagnostico.dominio.entity.Pais" />
        <mapping class="br.ufmg.hc.telessaude.diagnostico.dominio.entity.PerfilUsuario" />
        <mapping class="br.ufmg.hc.telessaude.diagnostico.dominio.entity.Plantao" />
        <mapping class="br.ufmg.hc.telessaude.diagnostico.dominio.entity.PontoRemoto" />
        <mapping class="br.ufmg.hc.telessaude.diagnostico.dominio.entity.Prioridade" />
        <mapping class="br.ufmg.hc.telessaude.diagnostico.dominio.entity.Status" />
        <mapping class="br.ufmg.hc.telessaude.diagnostico.dominio.entity.TipoConteudoExame" />
        <mapping class="br.ufmg.hc.telessaude.diagnostico.dominio.entity.TipoExame" />
        <mapping class="br.ufmg.hc.telessaude.diagnostico.dominio.entity.TipoLaudo" />
        <mapping class="br.ufmg.hc.telessaude.diagnostico.dominio.entity.Usuario" />
        <!--classes do glagow minnesota-->
        <mapping class="br.ufmg.hc.telessaude.diagnostico.dominio.glasgow.EcgAnalys" />
        <mapping class="br.ufmg.hc.telessaude.diagnostico.dominio.glasgow.MinnesotaCode" />
        <mapping class="br.ufmg.hc.telessaude.diagnostico.dominio.glasgow.MinnesotaGroup" />
        <mapping class="br.ufmg.hc.telessaude.diagnostico.dominio.glasgow.MinnesotaDict" />
        <mapping class="br.ufmg.hc.telessaude.diagnostico.dominio.glasgow.LaudoMinnesota" />
        
                      
    </session-factory>
</hibernate-configuration>
