/Teletransferencia-Commons/nbproject/private/
/Telessaude-Dominio/build/
/Teletransferencia-Commons/build/
/Teletransferencia-Commons/dist/
/XMLFactory/build/
/XMLFactory/dist/
/Telessaude-Dominio/dist/